<h1><%= @title %></h1>

<p>
	„BMW E39“ yra ketvirtosios kartos 5-osios serijos BMW, kuris buvo parduotas nuo 1995 iki 2004 m.. Jis buvo pristatytas sedano kėbulo stiliumi, 1996 m. Pristatytas universalo / universalo kėbulo stilius (parduodamas kaip „Touring“). E39 buvo pakeistas E60 5 serija 2003 m., tačiau E39 Touring modeliai liko gaminami iki 2004 m. gegužės mėn.
</p>

<p>Važiuoklės komponentų, naudojančių aliuminį, dalis žymiai padidėjo E39, ir tai buvo pirmoji 5 serija, kurioje aliuminis buvo naudojamas visiems pagrindiniams priekinės pakabos ar bet kokiems galiniams komponentams. Tai taip pat buvo pirmoji 5 serija, kurioje buvo keturių cilindrų dyzelinis variklis. Pirmą kartą 5 serijų (išskyrus „E34 525iX“) vairo pavara ir krumpliaračiai buvo naudojami keturių ir šešių cilindrų modeliuose. Skirtingai nuo E34 pirmtako ir E60 įpėdinio, E39 nebuvo galima įsigyti su visais ratais.
</p>
<p>Aukšto našumo M5 sedanas buvo pristatytas 1998 m., Varomas 4,9 litro S62 V8 varikliu. Tai buvo pirmasis M5 modelis, varomas V8 varikliu.'

</p>
