<h1><%= @title %></h1>

<p>
	E34 įpėdinio kūrimas prasidėjo 1989 m.  ir baigėsi 1995 m. Joji Nagashima galutinis dizainas buvo išrinktas 1992 m. Birželio mėn. ir vėliau užšaldytas gamybai pas naują dizaino vadovą Chrisą Bangle'ą. Pasirinkus dizainą 1992 m., Prasidėjo serijos kūrimo etapas, kuriam prireikė 39 mėnesių iki gamybos pradžios. Vokietijos vidaus dizaino patentas buvo pateiktas 1994 m. Balandžio 20 d. Su E39 prototipu. 
</p>
<p>
1995 m. Gegužės mėn. BMW paskelbė pirmąsias oficialias E39 nuotraukas . E39 premjera įvyko 1995 m. Rugsėjo mėn. Frankfurto automobilių parodoje.   1995 m. Gruodžio mėn. Žemyninėje Europos dalyje buvo pradėta pardavinėti sedanų modelius . 1996 m. Lapkritį buvo pradėta gaminti vagonų / dvarų modelius. 
</p>
