<h1><%= @title %></h1>


<img style="width:500px" src="https://assets.hemmings.com/uimage/63970584-770-0@2X.jpg?rev=1">
<img style="width:500px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/BMW_E39_Touring_rear_20090204.jpg/1920px-BMW_E39_Touring_rear_20090204.jpg">
<img style="width:500px" src="http://fancywide.ru/wp-content/uploads/2016/08/%D0%91%D0%B5%D0%B7-%D0%B8%D0%BCpiohj%D0%B5%D0%BD%D0%B8-1.jpg">
<img style="width:500px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/BMW_Alpina_B10_V8_%284756503938%29.jpg/1280px-BMW_Alpina_B10_V8_%284756503938%29.jpg">
